/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ theme-dark — класс тёмной темы
✦ theme-light — класс светлой темы
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

Кроме этого, не меняйте HTML переключателя тем. Его разметка также гарантирует работу своего скрипта.

*/

.page {
  min-inline-size: 320px;
  min-block-size: 100dvb;
  font-family: var(--main-font);
  color: var(--themes-main-color);
  background-image: var(--background-image);
  background-size: cover;
  background-attachment: fixed;
  padding: 100px 2px 0;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: var(--accent-font);
}

.header__area {
  min-inline-size: 371px;
  min-block-size: 323px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 2px solid var(--themes-main-color);
  background-color: var(--themes-background);
  padding: 116px 14px 25px;
}

.header__area-title {
  font-size: clamp(3.0625rem, 2.8198rem + 1.0356vw, 4.0625rem);
  text-transform: uppercase;
}

.header__area-text {
  margin-block-start: 16px;
  font-size: clamp(0.875rem, 0.7385rem + 0.5825vw, 1.4375rem);
  text-transform: uppercase;
}

.theme-menu {
}

.header__theme-menu {
  margin-block-start: 21px;
}

.theme-menu__list {
  display: flex;
  flex-direction: column;
  gap: 9px;
}

.theme-menu__item {
}

.theme-menu__button {
  border: none;
  background-color: transparent;
  cursor: pointer;
  font-size: 14px;
  text-transform: uppercase;
  position: relative;
}

.theme-menu__button:disabled {
  opacity: 0.6;
  pointer-events: none;
}

.theme-menu__button:disabled::before {
  content: "▶";
  color: var(--themes-main-color);
  left: -13px;
  position: absolute;
  animation: menu 1s ease-in-out infinite;
}

@keyframes menu {
  0% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(-4px);
  }
  100% {
    transform: translateX(0);
  }
}

.theme-menu__button:hover {
  opacity: 0.6;
}

.theme-menu__button::after {
  content: "";
  inline-size: 100%;
  block-size: 2px;
  background-color: var(--themes-main-color);
  left: 0;
  bottom: -2px;
  display: block;
  transform: scale(0);
  transition: transform 0.3s ease;
  transform-origin: left center;
}

.theme-menu__button:focus-visible::after {
  transform: scale(1);
  outline: none;
}

.theme-menu__button:focus {
  outline: none;
  opacity: 0.6;
}

.main {
  background-color: var(--themes-background);
  margin-block-start: 98px;
  min-inline-size: 371px;
}

.main__cards {
}

.main__cards-title {
  padding: 1px 10px 6px;
  min-inline-size: 351px;
  min-block-size: 42px;
  font-size: 18px;
  font-weight: var(--wght-title);
}

.main__picture-area {
  position: relative;
  border: 2px solid var(--themes-main-color);
  inline-size: 370px;
  block-size: 371px;
}

.main__cards-picture {
  inline-size: 370px;
}

.watermark {
  position: absolute;
  top: 20px;
  right: 11px;
  color: var(--themes-main-color);
  font-family: var(--accent-font);
  font-size: 14px;
  font-weight: var(--wght);
  text-transform: uppercase;
  mix-blend-mode: hard-light;
  text-shadow: -1px 0 var(--themes-background), 0 1px var(--themes-background),
    1px 0 var(--themes-background), 0 -1px var(--themes-background);
  opacity: 0.5;
}

@supports (
  (text-stroke: 1px var(--themes-background)) or
    (-webkit-text-stroke: 1px var(--themes-background))
) {
  .watermark {
    -webkit-text-stroke: 1px var(--themes-background);
    text-stroke: 1px var(--themes-background);
    text-shadow: none;
  }
}

.main__cards-item {
  min-inline-size: 372px;
  display: flex;
  flex-direction: column;
  align-items: end;
  border: 2px solid var(--themes-main-color);
  font-size: 18px;
  font-weight: var(--wght);
  line-height: 116.667%;
}

.main__cards-area {
  padding: 25px 25px 0;
  display: flex;
  flex-direction: column;
  gap: 27px;
}

.main__cards-text {
  font-weight: var(--wght);
  line-height: 116.667%;
}

.repeating-text {
}

.main__button {
  display: inline-flex;
  align-items: center;
  gap: 6px;
  margin: 25px 21px 25px;
}

.main__button-like {
  display: flex;
  align-items: center;
  background-color: transparent;
  border: none;
  padding: 0;
  min-block-size: 38px;
}

.like-icon {
  cursor: pointer;
}

.like-icon.is-liked .heart{
  animation: heart-scale 0.3s ease-in both;
  animation-delay: 0.1s;
}

@keyframes heart-scale {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.5);
  }

  100% {
    transform: scale(1);
  }
}

@keyframes for-sparks {
  0%, 100% {
    opacity: 0;
  }

  50% {
    opacity: 1;
  }
}

@keyframes color-change {
  0% {
    fill: var(--themes-main-color);
  }

    100% {
    fill: var(--heart-color);
  }
}

.contour {
  fill: var(--themes-main-color);
}

.like-icon.is-liked .contour {
  animation: color-change 0.3s linear both;
}

.main-body {
  fill: var(--themes-main-color);
  opacity: 0;
  transition: 0.3s;
}

.like-icon:hover .main-body {
  fill: var(--themes-main-color);
  opacity: 1;
  transition: 0.3s 0.05s;
}

.like-icon:active .main-body{
  fill: var(--heart-color);
  transition: 0.3s 0.05s;
}

.like-icon.is-liked .main-body {
  fill: var(--heart-color);
  transition: 0.3s 0.05s;
}

.core {
  fill: var(--themes-background);
  opacity: 0;
  transition: 0.3s;
  transition-delay: 0.3s;
}

.like-icon:hover .core {
  fill: var(--themes-main-color);
  opacity: 1;
  transition: 0.3s;
} 

.like-icon:active .core{
  fill: var(--heart-color);
  transition: 0.3s;
}

.like-icon.is-liked .core {
  fill: var(--heart-color);
  transition: 0.3s;
}

.sparks {
  fill: var(--heart-color);
  opacity: 0;
}

.like-icon.is-liked .sparks{
  animation: for-sparks 0.3s ease-in-out both;
  animation-delay: 0.3s;
}

.main__button-like:focus {
  outline: none;
}

.main__button-like:focus-visible {
  outline: none;
  border: 2px solid var(--themes-main-color);
  transition: border 0.3s ease;
}

.main__button-item {
  min-inline-size: 130px;
  min-block-size: 38px;
  background-color: transparent;
  border: none;
  position: relative;
  padding: 6px 35px;
  border: 2px solid var(--themes-main-color);
}

.main__button-item::after {
  content: "";
  inset: -1px -1px;
  block-size: 103%;
  inline-size: 101%;
  background-color: var(--themes-main-color);
  position: absolute;
  transform: scaleX(0);
  transform-origin: left center;
  transition: transform 0.5s ease-in-out;
}

.main__button-item:hover::after {
  transform: scaleX(1);
  outline: none;
  cursor: pointer;
}

.button__text {
  font-size: 14px;
  font-family: var(--accent-font);
  font-weight: var(--wght);
  line-height: 90%;
  position: relative;
  mix-blend-mode: difference;
  z-index: 1;
  color: var(--button-color);
}

.main__button-item:focus {
  outline: none;
  box-shadow: 2px 2px 0px 0px var(--themes-main-color);
  transition: box-shadow 0.3s ease;
}

.main__button-item:focus-visible {
  outline: none;
}

.footer{
  position: relative;
  margin: 54px 35px 102px;
  border: 2px solid var(--themes-main-color);
  background-color: var(--themes-background);
}

.footer__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
  min-inline-size: 306px;
  min-block-size: 80px;
  padding: 15px 20px;
}

.footer__svg {
  inline-size: 28px;
  block-size: 28px;
  fill: var(--themes-main-color);
}

.footer__button {
  cursor: pointer;
  background-color: transparent;
  color: var(--themes-main-color);
  border: none;
  font-family: var(--accent-font);
  font-size: 14px;
  font-weight: var(--wght);
  line-height: 90%; 
  padding: 0;
}

.footer__dialog {
  padding: 32px 42px;
}

.footer__dialog-content {
  display: grid;
  grid-template-rows: 1.5fr 1fr;
  grid-template-columns: 0.25fr 1fr;
  gap: 30px;
}

.footer__dialog::backdrop {
  opacity: 0.75;
  background: var(--themes-main-color, #000);  
  backdrop-filter: blur(7px);
} 

.footer__svg-grid {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 2;
}

.footer__text {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 2;
}

.footer__button-grid {
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end: 3;
}

@media (width <= 375px) {
}
