.page {
  min-inline-size: 320px;
  min-block-size: 100dvb;
  font-family: var(--main-font), Arial, Helvetica, sans-serif;
  color: var(--themes-main-color);
  background-image: var(--background-image);
  background-size: cover;
  background-attachment: fixed;
  padding: 102px 1px 0;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: var(--accent-font), "Copperplate", fantasy;
  background: var(--themes-background);
  min-inline-size: 371px;
  block-size: clamp(20.1875rem, 19.2852rem + 3.8498vw, 22.75rem);
}

.header__area {
  inline-size: 100%;
  block-size: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 2px solid var(--themes-main-color);
  background: var(--themes-background);
  padding: clamp(7.375rem, 6.9789rem + 1.6901vw, 8.5rem) 14px 25px;
}

.header__area-title {
  font-size: clamp(3.0625rem, 2.7104rem + 1.5023vw, 4.0625rem);
  text-transform: uppercase;
  min-block-size: 54px;
}

.header__area-text {
  margin-block-start: 17px;
  font-size: clamp(0.875rem, 0.6769rem + 0.8451vw, 1.4375rem);
  text-transform: uppercase;
}

.header__theme-menu {
  margin-block-start: 21px;
  margin-inline-start: 22px;
}

.theme-menu__list {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.theme-menu__button {
  border: none;
  background-color: transparent;
  cursor: pointer;
  font-size: 14px;
  text-transform: uppercase;
  position: relative;
}

.theme-menu__button:disabled {
  opacity: 0.6;
  pointer-events: none;
}

.theme-menu__button:disabled::before {
  content: "▶";
  color: var(--themes-main-color);
  left: -13px;
  position: absolute;
  animation: menu 1s ease-in-out infinite;
}

.theme-menu__button:hover {
  opacity: 0.6;
  transition: opacity 0.3s ease;
}

.theme-menu__button:focus {
  outline: none;
  opacity: 0.6;
}

.theme-menu__button::after {
  content: "";
  inline-size: 100%;
  block-size: 2px;
  background: var(--themes-main-color);
  left: 0;
  bottom: -2px;
  display: block;
  transform: scale(0);
  transition: transform 0.3s ease;
  transform-origin: left center;
}

.theme-menu__button:focus-visible::after {
  transform: scale(1);
  outline: none;
}

.main {
  margin-block-start: 104px;
  inline-size: 100%;
}

.main__cards {
  display: flex;
  flex-direction: column;
  gap: 53px;
}

.main__cards-title {
  padding: 5px 10px 6px;
  min-inline-size: 100%;
  block-size: 51px;
  font-size: 18px;
  font-variation-settings: "wght" var(--wght-title);
}

.main__title {
  padding: 4px 9px;
  min-inline-size: 100%;
  font-size: 18px;
  font-variation-settings: "wght" var(--wght-title);
}

.main__picture-area {
  position: relative;
  border-block-start: 2px solid var(--themes-main-color);
  border-block-end: 2px solid var(--themes-main-color);
  block-size: clamp(23.375rem, 16.2887rem + 30.2347vw, 43.5rem);
}

.main__cards-picture {
  inline-size: 100%;
  block-size: 100%;
  filter: contrast(120%);
  aspect-ratio: 1/1;
}

.watermark {
  position: absolute;
  top: 20px;
  right: clamp(0.3125rem, -0.0616rem + 1.5962vw, 1.375rem);
  color: var(--themes-main-color);
  font-family: var(--accent-font), "Copperplate", fantasy;
  font-size: 14px;
  font-variation-settings: "wght" var(--wght);
  mix-blend-mode: hard-light;
  text-shadow: -1px 0 var(--themes-background), 0 1px var(--themes-background),
    1px 0 var(--themes-background), 0 -1px var(--themes-background);
  opacity: 0.5;
}

.upper-watermark {
  text-transform: uppercase;
}

@supports (
  (text-stroke: 1px var(--themes-background)) or
    (-webkit-text-stroke: 1px var(--themes-background))
) {
  .watermark {
    -webkit-text-stroke: 1px var(--themes-background);
    text-stroke: 1px var(--themes-background);
    text-shadow: none;
  }
}

.cards-filter1 {
  filter: contrast(120%) grayscale(0.6);
}

.cards-filter2 {
  filter: contrast(120%) brightness(200%);
}

.cards-filter3 {
  filter: contrast(120%) hue-rotate(40deg);
}

.cards-filter4 {
  filter: contrast(120%) invert(0.7);
}

.cards-filter5 {
  filter: contrast(120%) grayscale(0.9) hue-rotate(105deg);
}

.cards-filter6 {
  filter: contrast(120%) blur(5px);
}

.cards-filter7 {
  filter: contrast(120%) sepia(30%) hue-rotate(40deg) blur(2px) saturate(158%)
    invert(0.3);
}

.main__cards-item {
  inline-size: 371px;
  display: flex;
  flex-direction: column;
  align-items: end;
  background: var(--themes-background);
  border: 2px solid var(--themes-main-color);
  font-size: 18px;
  font-variation-settings: "wght" var(--wght);
  line-height: 116.667%;
}

.main__cards-area {
  inline-size: 100%;
  padding: var(--padding);
  display: flex;
  flex-direction: column;
  gap: 27px;
}

.main__cards-text {
  font-variation-settings: "wght" var(--wght);
  line-height: 116.667%;
  font-size: 18px;
}

.main__button {
  display: inline-flex;
  align-items: center;
  gap: 6px;
  margin: 25px 21px 25px;
}

.card__icon-button {
  display: flex;
  align-items: center;
  background-color: transparent;
  border: none;
  padding: 0;
  min-block-size: 38px;
}

.card__icon-button:focus {
  outline: none;
}

.card__icon-button:focus-visible {
  outline: none;
  border: 2px solid var(--themes-main-color);
  transition: border 0.3s ease;
}

.like-icon {
  cursor: pointer;
}

.contour {
  fill: var(--themes-main-color);
}

.main-body {
  fill: var(--themes-main-color);
  opacity: 0;
  transition: 0.3s;
}

.core {
  fill: var(--themes-background);
  opacity: 0;
  transition: 0.3s;
  transition-delay: 0.3s;
}

.sparks {
  fill: var(--heart-color);
  opacity: 0;
}

.card__like-button {
  inline-size: 130px;
  block-size: 38px;
  background-color: transparent;
  position: relative;
  padding: 9px 17px;
  border: 2px solid var(--themes-main-color);
  cursor: pointer;
}

.card__like-button::after {
  content: "";
  inset: -1px -1px;
  block-size: 103%;
  inline-size: 101%;
  background: var(--themes-main-color);
  position: absolute;
  transform: scaleX(0);
  transform-origin: left center;
  transition: transform 0.5s ease-in-out;
}

.card__like-button:hover::after {
  transform: scaleX(1);
  outline: none;
  cursor: pointer;
}

.button__text {
  font-size: 14px;
  font-family: var(--accent-font), "Copperplate", fantasy;
  font-variation-settings: "wght" var(--wght);
  line-height: 90%;
  position: relative;
  mix-blend-mode: difference;
  z-index: 1;
  color: var(--button-color);
  cursor: pointer;
}

.card__like-button:focus {
  outline: none;
  box-shadow: 2px 2px 0px 0px var(--themes-main-color);
  transition: box-shadow 0.3s ease;
}

.card__like-button:focus-visible {
  outline: none;
}

.footer {
  position: relative;
  margin: 54px 30px 65px;
  display: flex;
  justify-content: center;
}

.footer__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
}

.footer__svg {
  inline-size: 29px;
  fill: var(--themes-main-color);
}

.footer__button {
  inline-size: clamp(19.125rem, 18.4868rem + 2.723vw, 20.9375rem);
  min-block-size: 80px;
  border: 2px solid var(--themes-main-color);
  background: var(--themes-background);
  cursor: pointer;
  color: var(--themes-main-color);
  font-family: var(--accent-font), "Copperplate", fantasy;
  font-size: 14px;
  font-variation-settings: "wght" var(--wght);
  line-height: 90%;
  position: relative;
}

.footer__button:focus {
  outline: none;
}

.footer__button:focus-visible {
  outline: none;
  box-shadow: 2px 2px 0px 0px var(--themes-main-color);
  transition: box-shadow 0.3s ease;
}

.footer__button::after {
  content: "";
  inset: -1px -1px;
  block-size: 103%;
  inline-size: 101%;
  background: var(--themes-main-color);
  position: absolute;
  transform: scaleX(0);
  transform-origin: left center;
  transition: transform 0.5s ease-in-out;
}

.footer__button:hover::after {
  transform: scaleX(1);
  outline: none;
  cursor: pointer;
}

.footer__dialog[open] {
  padding: 32px 42px;
  background: var(--themes-background);
  min-inline-size: 341px;
  min-block-size: 195px;
  border: 2px solid var(--themes-main-color);
}

.footer__dialog-content {
  display: grid;
  grid-template-rows: 1fr 0.25fr;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 20px;
  grid-row-gap: 30px;
  color: var(--themes-main-color);
}

.footer__dialog::backdrop {
  opacity: 0.75;
  background: #000;
  backdrop-filter: blur(7px);
}

.footer__svg-grid {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 2;
  align-self: center;
  justify-self: center;
  inline-size: 39px;
  block-size: 38px;
}

.footer__text {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 2;
  font-size: 14px;
  font-family: var(--accent-font), "Copperplate", fantasy;
  color: var(--themes-main-color);
  font-variation-settings: "wght" var(--wght);
  line-height: 150%;
  text-transform: uppercase;
  min-inline-size: 198px;
  min-block-size: 63px;
}

.footer__dialog-button {
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end: 3;
}

.footer__button-grid {
  font-family: var(--accent-font), "Copperplate", fantasy;
  font-size: 14px;
  font-variation-settings: "wght" var(--wght);
  line-height: 90%;
  text-transform: uppercase;
  inline-size: 100%;
  block-size: 38px;
  padding: 9px 17px;
  border: 2px solid var(--themes-main-color);
  color: var(--themes-main-color);
  background: var(--themes-background);
}

.footer__button-grid:focus {
  outline: none;
}

.footer__button-grid:focus-visible {
  outline: none;
  box-shadow: 2px 2px 0px 0px var(--themes-main-color);
  transition: box-shadow 0.3s ease;
}

@media (width >= 376px) {
  .page {
    padding: 102px clamp(0.0625rem, -8.1021rem + 34.8357vw, 23.25rem) 0;
  }

  .header__area-text {
    margin-block-start: 20px;
  }

  .main {
    margin-block-start: 104px;
    min-inline-size: 372px;
  }

  .main__cards {
    gap: 55px;
  }

  .main__cards-title {
    padding: 4px 24px 4px 10px;
    min-block-size: 32px;
  }

  .main__picture-area {
    min-inline-size: 375px;
    max-inline-size: 696px;
  }

  .main__cards-item {
    inline-size: 100%;
  }

  .main__cards-area {
    padding: var(--padding-desktop);
  }

  .footer__item {
    flex-direction: row;
  }

  .footer__button {
    min-block-size: 51px;
    padding: 13px 18px;
  }

  .footer__svg {
    inline-size: 21px;
  }

  .footer__dialog[open] {
    padding: 32px;
    min-inline-size: 341px;
    max-inline-size: 357px;
    min-block-size: 193px;
  }
}

@media (width >= 1440px) {
  .page {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 102px clamp(23.25rem, -8.4717rem + 35.2219vw, 46.5625rem) 0;
  }

  .header {
    inline-size: 696px;
    block-size: 364px;
  }

  .header__area-title {
    block-size: 65px;
    font-size: 65px;
  }

  .main {
    inline-size: 696px;
  }

  .main__cards-title {
    block-size: 32px;
  }

  .footer__dialog[open] {
    inline-size: 357px;
    block-size: 193px;
  }
}
